meeting-createEvent-page {
    .text-input[disabled] {
        opacity: 1 !important;
    }
    .header-label {
        h3 {
            font-family: 'RobotoLight','Prompt';
            color: #101010;
            font-weight: bold;
        }
    }
    ion-grid.input-form {
        ion-label {
            font-family: 'RobotoRegular' !important;
            [floated] {
                color: #bbb;
            }
        }
        ion-input input,
        ion-textarea textarea {
            font-family: 'RobotoRegular','Prompt' !important;
            color: #101010;
        }
        ion-row {
            ion-col {
                div.item-inner {
                    margin-left: 1em;
                    margin-right: 1em;
                }
            }
            &.attach-file-label {
                padding: 0;
                padding-top: 1.5em;
                padding-bottom: 1em;
                ion-label {
                    padding: 0;
                    padding-bottom: 1em;
                }
            }
            &.attach-file {
                ion-item {
                    padding: 0;
                    .input-wrapper {
                        padding: 0;
                        padding-bottom: .5em;
                    }
                }
                ion-label {
                    border-bottom: 1px solid #ededed;
                    padding: 0;
                    padding-bottom: 1em;
                    margin: 0;
                    $circleSize: 1em;
                    [attach-icon] {
                        display: inline-block;
                        width: $circleSize;
                        height: $circleSize;
                        border-radius: 50%;
                        margin-right: .5em;
                    }
                }
                ion-icon[name] {
                    padding: 0;
                    padding-bottom: .5em;
                }
            }
            &.member-label {
                padding: 0;
                padding-top: 1.5em;
                padding-bottom: 1em;
                ion-label {
                    padding: 0;
                    padding-bottom: 1em;
                }
            }
            &.button-row {
                margin-top: 1em;
                button.bg-workforce {
                    height: 3.5em;
                    border-radius: .25em;
                }
            }
            $avatarSize:2.75em;
            .img-avatar.wrapper-employee {
                
            }
            div.img-avatar.add-employee-btn {
                height: $avatarSize;
                width: $avatarSize;
                border: 1px solid #AAA;
                border-radius: 50%;
                text-align: center;
                padding: 1em 0;
                font-family: 'RobotoRegular','Prompt';
                color: #999;
            }
        }
    }
}