team-view-page {
    .bg {
        background-color: rgb(228, 228, 228);
    }
    ion-grid.monthTitle {
        background-color: rgb(231, 231, 231);
        >ion-row {
            background-color: white;
            margin-left: -.5em;
            margin-right: -.5em;
            margin-top: -.8em;
            margin-bottom: -.3em;
            ion-col[col-8] {
                >h3 {
                    color: color($colors-theme, "app-theme");
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.3em;
                }
            }
            ion-col[col-2] {                
                margin-top: .4em;
                font-size: 26px;
                >ion-icon{
                    margin-left: .65em;
                    margin-right: .65em;
                }
            }
        }
    }
    
    ion-row.team-calendar{
        background-color: white;
        ion-col[col-5] {
            margin-left: -.5em;
            // background-color: white;
            table{
                width: 100%;
                text-align: center;
                // margin-left: .5em;
                tr.team-calendar-head{
                    height: 3em;
                    background-color: color($colors-theme, "app-theme");
                    td{
                        h3{
                            color: white;
                            font-size: .8em;
                            margin-top: auto;
                            margin-bottom: auto;
                        }
                    }
                }
                tr.team-calendar-inner{
                    // background-color: white;
                    height: 8em;
                    td{
                        border-style: solid;
                        border-color: rgb(230, 230, 230);
                        width: 2.5em;
                        p{
                            // color: white;
                            font-size: .7em;
                            margin-top: auto;
                            margin-bottom: auto;
                        }
                    }
                }
            }
        }
        ion-col[col-7]{
            margin-left: -.7em;
            margin-top: 0em;
            ion-slides{
                width: 16em;
                ion-slide{
                    table{
                        width: 100%;
                        tr.day-slide-head{
                            background-color: color($colors-theme, "app-theme");
                            td{
                                height: 2.35em;
                                p{
                                    color: white;
                                    font-size: .6em;
                                    margin-top: auto;
                                    margin-bottom: auto;
                                }
                            }
                        }
                        tr.day-slide-content{
                            height: 6.2em;
                            td{
                                width: 3em;
                                border-style: solid;
                                border-color: rgb(230, 230, 230);
                                div.dot-green{
                                    padding: 0em;
                                    height: 2.06em;
                                    font-size: .85em;
                                    background-color: rgb(19, 172, 57);
                                    p{
                                        height: 2em;
                                        width: 2.2em;
                                        margin-top: .35em;
                                        position: absolute;
                                        color: rgb(255, 255, 255);
                                    }
                                }
                                div.dot-yellow{
                                    padding: 0em;
                                    height: 2.06em;
                                    font-size: .85em;
                                    background-color: rgb(255, 147, 7);
                                    p{
                                        height: 2em;
                                        width: 2.2em;
                                        margin-top: .35em;
                                        position: absolute;
                                        color: rgb(255, 255, 255);
                                    }
                                }
                                div.dot-blue{
                                    padding: 0em;
                                    height: 2.06em;
                                    font-size: .85em;
                                    background-color: color($colors-theme, "app-theme");
                                    p{
                                        height: 2em;
                                        width: 2.2em;
                                        margin-top: .35em;
                                        position: absolute;
                                        color: rgb(255, 255, 255);
                                    }
                                }
                                div.dot-red{
                                    padding: 0em;
                                    height: 2.06em;
                                    font-size: .85em;
                                    background-color: rgb(221, 53, 53);
                                    p{
                                        height: 2em;
                                        width: 2.2em;
                                        margin-top: .35em;
                                        position: absolute;
                                        color: rgb(255, 255, 255);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ion-grid.header-content{
        background-color: white;
        ion-row{
            background-color: color($colors-theme, "app-theme");
            ion-col{
                h3{
                    margin-left: 1em;
                    height:1.5em;
                    font-size: 1em;
                    color: white;
                }
            }
        }
        ion-row.table-content{
                background-color: white;
            ion-col[col-12]{
                table{
                    background-color: white;
                    width: 100%;
                    tr{
                        td{
                            border-style: solid;
                            border-color: rgb(230, 230, 230);
                            text-align: center;
                            margin-left: auto;
                            margin-right: auto;
                            width: 1em;
                            height: 1em;
                            h4{
                                margin-left: .2em;
                                text-align: left;
                                font-size: .8em;
                            }
                            p{
                                font-size: .8em;
                            }
                        }
                    }
                }
            }
        }
    }
}