<ion-header text-center>
    <ion-navbar color="app-theme" text-center>
        <button ion-button menuToggle persistent="true">
            <ion-icon name="ios-menu"></ion-icon>
        </button>
        <ion-title text-center>{{ 'M_HOME.BDMS'|hcmtranslate:'BDMS'}}</ion-title>
        <ion-buttons right style="position: absolute;z-index: 100;right: .5em;">
            <button ion-button icon-only click-goto-notipage>
                <ion-icon name="ios-notifications-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid class="myprofile">
        <ion-row *ngIf="isLoggedIn == false">
            <ion-col class="avaLogo"></ion-col>
        </ion-row>
        <ion-row *ngIf="isLoggedIn == true">
            <input style="display: none;" type="file" accept="image/*" capture="camera" id="userImageFileInputIdWF" #userImageFileInputIdWF multiple (change)="getAttachmentsWF && getAttachmentsWF()">
            <ion-col (click)="uploadUserProfileImageWF()">
                <img no-box src="./assets/img/transparents.png" [style.background-image]="sanitizedImageUser" />
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isLoggedIn == true">
            <ion-col>
                <h2>{{appState?.businessUser?.custFname}} {{appState?.businessUser?.custLname}}</h2>
                <p> {{ appState?.businessUser?.memberEmail }} </p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="textMenu">
        <ion-row>
            <ion-col col-6 text-center (click)="goRoot('CheckInOut')">
                <img src="./assets/img/home_icon/clock.svg" />
                <p class="no-margin" hcmtranslate>M_HOME.CLOCK:Clock</p>
            </ion-col>
            <ion-col col-6 text-center (click)="goRoot('CalendarPage')">
                <img src="./assets/img/home_icon/calendar.svg" />
                <p class="no-margin" hcmtranslate>M_HOME.MYSCHEDULE:My Schedule</p>
            </ion-col>
            <ion-col col-6 text-center (click)="goRoot('LeavePage')">
                <img src="./assets/img/home_icon/Leave Request.svg" />
                <p class="no-margin" hcmtranslate>M_HOME.LEAVEREQUEST:Leave Request</p>
            </ion-col>
            <ion-col col-6 text-center (click)="goRoot('Shift')">
                <img src="./assets/img/home_icon/shift.svg" />
                <p class="no-margin" hcmtranslate>M_HOME.SHIFTREQUEST:Shift</p>
            </ion-col>
            <ion-col col-6 text-center (click)="goRoot('ApprovePage')">
                <div class="box red"></div>
                <img src="./assets/img/home_icon/approval.svg" />
                <p class="no-margin" hcmtranslate>M_HOME.APPROVAL:Approval</p>
            </ion-col>
            <ion-col col-6 text-center (click)="goRoot('Patient Acuity Eevaluation')">
                <img src="./assets/img/home_icon/Patient Acuity.svg" />
                <p class="no-margin" hcmtranslate>M_HOME.PATIENT_A_E:Patient Acuity Evaluate</p>
            </ion-col>
            <ion-col col-6 text-center (click)="goRoot('Dashboard')">
                <img src="./assets/img/home_icon/chart.svg" />
                <p class="no-margin" hcmtranslate> M_HOME.DASHBOARD:Dashboard</p>
            </ion-col>
            <ion-col col-6 text-center (click)="goRoot('TeamView')">
                <img src="./assets/img/home_icon/chart.svg" />
                <p class="no-margin">{{ 'M_HOME.TEAMVIEW' | hcmtranslate:'Team View' }}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="isDateLoading" [@peekAnimation] style="width: 100%; height: 15%; padding: 1em 0;">
        <ion-spinner style=" width: 100%; height: 100%;"> </ion-spinner>
    </div>
    <ion-grid *ngIf="!isDateLoading && checkInTime != null" [@peekAnimation] class="CheckInTime">
        <ion-row>
            <ion-col>
                <p translate> {{ (checkOutTime && checkInTime ? 'M_HOME.CHECK_OUT_TIME' : 'M_HOME.CHECK_IN_TIME') }} </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <span class="time"> {{ (checkOutTime  && checkInTime ? checkOutTime : checkInTime) | amDateFormat:'h:mm' }} </span>
                <span class="time-am-pm"> {{ (checkOutTime && checkInTime ? checkOutTime : checkInTime) | amLocale:'en' |  amDateFormat:'a.' }} </span>
            </ion-col>
        </ion-row>
    </ion-grid>


    <!-- <ion-fab center bottom *ngIf="isLoggedIn == true">
        <button class="btn-wk" (click)="goRoot('MenuPage')" ion-fab><b></b></button>
    </ion-fab> -->

</ion-content>