<ion-header style="max-height: 3em; min-height: 3em !important;">
    <app-nav-header [pageName]="''"></app-nav-header>
</ion-header>
<ion-content no-padding style="padding: 0;">
    <div class="meeting-task-list" no-padding>
        <ion-item no-lines no-padding>
            <ion-grid class="bg-workforce headDetail">
                <ion-row>
                    <ion-col>
                        <p>{{ leave?.leaveType || leave?.leaveTypeName || shiftType }}</p>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -.5em">
                    <ion-col col-6>
                        <p *ngIf="select_type == 'leave'" translate>{{ leave?.leaveHours }}
                            <span style="color: white" translate>M_LEAVEDETAIL.HOURS</span>
                        </p>
                        <span></span>
                    </ion-col>
                    <ion-col col-6 text-right style="display: block;">
                        <!-- <div dot [ngClass]="{'dot-red': getStatus(leave.status || leave.leaveStatus,'rejected'),
                            'dot-yellow': getStatus(leave.status || leave.leaveStatus,'waiting for approved'),
                            'dot-green': getStatus(leave.status || leave.leaveStatus,'approved')
                            }">
                        </div> -->
                        <button ion-button round dot class="dot-red" *ngIf="getStatus(leave, 3) == true">
                            {{ leave.status || dataShift?.status || shiftStatus }}
                        </button>
                        <button ion-button round dot class="dot-yellow" *ngIf="getStatus(leave, 2) == true">
                            {{ leave.status || dataShift?.status || shiftStatus }}
                        </button>
                        <button ion-button round dot class="dot-green" *ngIf="getStatus(leave, 1) == true">
                            {{ leave.status || dataShift?.status || shiftStatus }}
                        </button>
                        <!-- <div dot class="dot-yellow" *ngIf="!isApprover">
                            <p style="margin-left: .5em; margin-right: .5em;"> {{ leave.status || dataShift?.status || shiftStatus }} </p>
                        </div> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid no-padding style="margin-top: 1.5em;" *ngIf="select_type == 'leave'">
                <ion-row no-padding class="leave-center">
                    <ion-col col-6>
                        <p translate> M_LEAVEDETAIL.SEDATE </p>
                    </ion-col>
                    <ion-col col-6 style="margin-left: -2em;">
                        <p *ngIf="!isApprover"> {{ SEdate }} </p>
                        <p *ngIf="isApprover">{{ formatDate && formatDate(leave?.startDate,leave?.endDate) }}</p>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="leave-center" *ngIf="leave?.shiftName != null">
                    <ion-col col-6>
                        <p translate> M_LEAVEDETAIL.SHIFT </p>
                    </ion-col>
                    <ion-col col-6 style="margin-left: -2em;">
                        <p> {{ leave?.shiftName }} </p>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="leave-center" *ngIf="leave?.shiftName != null">
                    <ion-col col-6>
                        <p translate> M_LEAVEDETAIL.SETIME </p>
                    </ion-col>
                    <ion-col col-6 style="margin-left: -2em;">
                        <p> {{ timeFormat(leave?.fromDate+'T'+leave?.shiftTimeIn) }} - {{ timeFormat(leave?.fromDate+'T'+leave?.shiftTimeOut) }} </p>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="leave-center">
                    <ion-col col-6>
                        <p translate> M_LEAVEDETAIL.FULLDAY </p>
                    </ion-col>
                    <ion-col col-6 style="margin-left: -2em;">
                        <p> {{ fullDayCheck }} </p>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="leave-center" *ngIf="!isApprover">
                    <ion-col col-6>
                        <p translate> M_LEAVEDETAIL.SUBMITDT </p>
                    </ion-col>
                    <ion-col col-6 style="margin-left: -2em;">
                        <!-- <p> {{ requestDate }} {{ leave?.requestTime }} </p> -->
                        <p>{{ getDisplay(leave?.requestDate+'T'+leave?.requestTime) }} </p>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="leave-center" *ngIf="isApprover">
                    <ion-col col-6>
                        <p translate> M_LEAVEDETAIL.SUBMITDT </p>
                    </ion-col>
                    <ion-col col-6 style="margin-left: -2em;">
                        <!-- <p> {{ requestDate }} {{ leave?.requestTime }} </p> -->
                        <p>{{ leave?.requestDate | amLocal:'en' | amDateFormat:'D/M/YYYY hh:mm A' }} </p>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="leave-center" *ngFor="let item of (leave.listAttachmentFile||[])">
                    <ion-col col-6>
                        <p translate> M_LEAVEDETAIL.ATTACHMENT </p>
                    </ion-col>
                    <ion-col col-6 style="margin-left: -2em;">
                        <p> {{ item?.fileName }} </p>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="leave-center">
                    <ion-col col-6>
                        <p translate> M_LEAVEDETAIL.DETAIL </p>
                    </ion-col>
                    <ion-col col-6 style="margin-left: -2em;">
                        <p> {{ checkNull(leave?.reason) }} </p>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="leave-center">
                    <ion-col col-6>
                        <p translate> M_LEAVEDETAIL.APPROVER_1 </p>
                    </ion-col>
                    <ion-col col-6 style="margin-left: -2em;">
                        <p *ngIf="!isApprover"> {{ checkNull(leave?.waitingApproveName) }} </p>
                        <p *ngIf="isApprover"> {{ leave?.delegateApproveName }} </p>
                    </ion-col>
                </ion-row>
                <ion-row no-padding class="leave-center" *ngIf="!isApprover">
                    <ion-col col-6>
                        <p translate> M_LEAVEDETAIL.APPROVER_2 </p>
                    </ion-col>
                    <ion-col col-6 style="margin-left: -2em;">
                        <p> {{checkNull(leave?.waitingApproveName2)}} </p>
                    </ion-col>
                </ion-row>

                <!-- <ion-row *ngIf="isApprover" class="leave-center">
                    <ion-col>
                        <button class="bg-workforce" ion-button block full (click)="rejectThisTask && rejectThisTask(leave)">
                            <p>Reject</p>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button class="bg-workforce" ion-button block full (click)="approveThisTask && approveThisTask(leave)">
                            <p>Approve</p>
                        </button>
                    </ion-col>
                </ion-row> -->
            </ion-grid>
            <ion-grid *ngIf="select_type == 'shift' || select_type == 'shiftSwap' || select_type == 'shiftSwapAcceptant'">
                <ion-row class="styShift">
                    <ion-col col-12 *ngIf="select_type == 'shiftSwap' || select_type == 'shiftSwapAcceptant'">
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTDETAIL.CURRENT_DATE_SHIFT</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>May 7,2018 - May 9,2018</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTDETAIL.CURRENT_SCHEDULE</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.myScheduleDate || dataShift?.mySchedule }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTDETAIL.EOULD_RECEIVE</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.swapScheduleDate || dataShift?.swapSchedule }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTDETAIL.SWAP_WITH</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.fullName || dataShift?.swapEmployeeName }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTDETAIL.WORKGROUP</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.jobLeaveName }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_LEAVEDETAIL.SUBMITDT</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.requestDate | amLocal:'en' | amDateFormat:'D/M/YYYY hh:mm A' }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTCREATE.NOTE</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>Undefined</p>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="isApprover">
                            <ion-col col-6>
                                <p translate>M_LEAVEDETAIL.APPROVER_1</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.fullNameSwap }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="isApprover">
                            <ion-col col-6>
                                <p translate>M_LEAVEDETAIL.APPROVER_2</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>Undefined</p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col col-12 *ngIf="select_type == 'shift'">
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTDETAIL.EFFECTIVE_DATE</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.requestDate | amLocale:'en' | amDateFormat:'MMM D,YYYY' }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_LEAVEDETAIL.SHIFT</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.shiftNameName || 'D (07:00 - 15:00) OFF' }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTDETAIL.CURRENTLY_WORK_IN</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.fromGroupName }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTDETAIL.REQUEST_WORK_IN</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.toGroupName }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_LEAVEDETAIL.SUBMITDT</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.requestShiftDate | amLocale:'en' | amDateFormat:'D/M/YYYY' }} 7:30</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTCREATE.NOTE</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>Undefined</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <p translate>M_SHIFTDETAIL.APPROVER</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>{{ dataShift?.requestName }}</p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </div>
</ion-content>