<ion-header>
    <app-nav-header [buttonCfg]="buttonCfg" [pageName]="'M_SIDEMENU.MY_PROFILE'" translate></app-nav-header>
</ion-header>

<ion-content no-padding class="bg">
    <ion-grid class="myprofile">
        <ion-row>
            <ion-col col-4>
                <img no-box src="assets/img/transparents.png" [style.background-image]="'url(' + ((appState.businessUser.employeeCode||appState.businessUser.userCode) | loadImg) + ')'" />
            </ion-col>
            <ion-col col-8>
                <h2>{{appState?.businessUser?.custFname}} {{appState?.businessUser?.custLname}}</h2>
                <p> {{appState?.businessUser?.memberEmail}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="isLoading" style="width: 100%; height: 75%; position: absolute; margin: auto auto; text-align: center;">
        <ion-spinner [@peekAnimation] style="top: 30%; width: 100%; height: 22.5%;"></ion-spinner>
    </div>
    <ion-grid class="bgform" value="item" *ngIf="!isLoading">
        <ion-row>
            <ion-col col-3>
                <h4 translate>M_PROFILE.NAME</h4>
            </ion-col>
            <ion-col col-9>
                <!-- <h5> {{employee_N_S}} </h5> -->
                <h5> {{checkEmptyInf(profileItm.name)}} {{checkEmptyInf(profileItm.surname)}} </h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>
                <h4 translate>M_PROFILE.HOSPITAL</h4>
            </ion-col>
            <ion-col col-8>
                <h5> {{checkEmptyInf(profileItm.hospital)}} </h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>
                <h4 translate>M_PROFILE.DEPARTMENT</h4>
            </ion-col>
            <ion-col col-8>
                <h5> {{checkEmptyInf(profileItm.department)}} </h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                <h4 translate>M_PROFILE.POSITION</h4>
            </ion-col>
            <ion-col col-9>
                <h5> {{checkEmptyInf(profileItm.position)}} </h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                <h4 translate>M_PROFILE.JOB</h4>
            </ion-col>
            <ion-col col-9>
                <h5> {{checkEmptyInf(profileItm.job)}} </h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <h4 translate>M_PROFILE.JOB_LEVEL</h4>
            </ion-col>
            <ion-col col-6>
                <h5> </h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <h4 translate>M_PROFILE.MANAGER_NAME</h4>
            </ion-col>
            <ion-col col-6>
                <h5> {{profileItm.managerName}} </h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8>
                <h4 translate>M_PROFILE.CERTIFICATE_EXPD</h4>
            </ion-col>
            <ion-col col-4>
                <h5> {{ (profileItm.certificateD) | amLocale:'en' | amDateFormat: 'DD/MM/YYY' }} </h5>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>