<ion-header>
    <app-nav-header [buttonCfg]="buttonCfg" [pageName]="'M_MYPROFILE.LEAVESUMMARY'|hcmtranslate:'Leave Summary'"></app-nav-header>
</ion-header>

<ion-content no-padding>
    <div *ngIf="isLoading" style="width: 100%; height: 75%; position: absolute; margin: auto auto; text-align: center;">
        <ion-spinner [@peekAnimation] style="top: 30%; width: 100%; height: 22.5%;"></ion-spinner>
    </div>

    <ion-card [@peekAnimation] ava-empty-card *ngIf="!isLoading && ((summaryY) == '')" text-center margin-horizontal padding-vertical>
        <img src="assets/img/svg/emptydata.svg">
        <p class="ava-empty-label" translate>M_LEAVEPAGE.NODATA</p>
    </ion-card>

    <ion-grid class="bgYear" *ngIf="!isLoading && ((summaryY) != '')">
        <ion-row>
            <ion-col>
                <h3>2018</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="bgform" *ngIf="!isLoading && ((summaryY) != '')">
        <ion-row *ngFor="let item of summaryY">
            <button ion-item>    
                <ion-row>
                    <ion-col col-4 style="width: 100%;margin-bottom: auto;margin-top: auto; margin-left: .5em; display: block; white-space: normal;">
                        <span> {{item?.description}} </span>
                    </ion-col>
                    <ion-col>
                        <h3> {{item?.eligible}} </h3>
                        <h4 > {{'M_LEAVESUM.ELIGIBLE'|hcmtranslate:'Eligible'}} </h4>
                    </ion-col>
                    <ion-col col-2>
                        <h3 style="margin-left: .5em;" > 0.0 </h3>
                        <h4 > {{'M_LEAVESUM.CARRYFORWARD'|hcmtranslate:'Carry Forward'}} </h4>
                    </ion-col>
                    <ion-col  >
                        <h3> {{item?.used}} </h3>
                        <h4 > {{'M_LEAVESUM.USED'|hcmtranslate:'Used'}} </h4>
                    </ion-col>
                    <ion-col >
                        <h3> {{item?.balance}} </h3>
                        <h4 > {{'M_LEAVESUM.BALANCE'|hcmtranslate:'Balance'}} </h4>
                    </ion-col>
                    <ion-col >
                        <h3> {{item?.pending}} </h3>
                        <h4 > {{'M_LEAVESUM.PENDING'|hcmtranslate:'Pending'}} </h4>
                    </ion-col>
                </ion-row>                 
                     
            </button>
        </ion-row>
    </ion-grid>
</ion-content>