<ion-content class="outterContent">
    <div class="content-h">
        <ion-grid #header>
            <ion-row tappable (click)="autoLogin()">
                <ion-col class="avaLogo"></ion-col>
            </ion-row>
            <ion-row style="margin: 0.5em 0.7em">
                <ion-col>
                    <h4 *ngIf="allowSignInSocial" class="sign-in-title" translate>M_SIGNIN.WITH</h4>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="social-block">
                    <div *ngIf="allowFacebook" tappable (click)="loginWith(providerName.FACEBOOK)" class="social-button facebook"></div>
                    <div *ngIf="allowGoogle" tappable (click)="loginWith(providerName.GOOGLE)" class="social-button google"></div>
                    <div *ngIf="allowLinkenIn" tappable (click)="loginWith(providerName.LINKEDIN)" class="social-button linkedin"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <!--<ion-row style="height:16rem">
        <ion-col>&nbsp;</ion-col>
      </ion-row>-->
    <!--</ion-grid>
    </div>
    <ion-grid style="width: 100%; position: absolute;left: 0;bottom: 0;width: 100%;margin:0;">-->


    <ion-grid #loginForm [class.fixed-bottom]="isFixedBottomForm" class="login-form">
        <ion-row>
            <ion-col style="display: inline-flex">
                <ion-item no-lines class="divider" style="padding: 0 .5em;background-color: transparent;color:white;">
                    <ion-label *ngIf="allowSignInSocial" style="font-size: 1.35em;font-weight: 400;opacity: 1;" translate>M_SIGNIN.OR</ion-label>
                </ion-item>
                <!-- <ion-item no-lines text-right (click)="loginModel.memberEmail = null; loginModel.password= null " class="divider" style="background-color: transparent;color:white;">
          <ion-label style="font-size: 1.35em;font-weight: 400;opacity: 1;margin:13px 0;" translate>M_SIGNIN.CLEAR</ion-label>
        </ion-item> -->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-10 no-padding>
                <form #loginForm="ngForm">
                    <ion-row align-items-center>
                        <ion-col>
                            <div class="divInput">
                                <!-- <img class="inputIcon" src="./assets/img/login/username_icon.svg" /> -->
                                <ion-icon name="ios-contact-outline"></ion-icon>
                                <ion-item>
                                    <ion-input validate-input [formInput]="loginForm" [input-type]="'englishonly'" type="text" name="username" [(ngModel)]="loginModel.scmUserName" placeholder="{{ 'M_FORGOTPW.USERNAME' | translate }}"></ion-input>
                                </ion-item>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row align-items-center>
                        <ion-col>
                            <div class="divInput">
                                <!-- <img class="inputIcon" src="./assets/img/login/password_icon.svg" /> -->
                                <ion-icon name="ios-lock-outline"></ion-icon>
                                <ion-item no-lines>
                                    <ion-input type="password" name="password" [(ngModel)]="loginModel.password" placeholder="{{ 'M_SIGNIN.PASSWORD' | translate }}"></ion-input>
                                </ion-item>
                            </div>
                        </ion-col>
                    </ion-row>
                    <button ion-button tappable (click)="login()" class="loginBtn" round>Login</button>
                </form>
            </ion-col>
            <ion-col col-1></ion-col>
        </ion-row>
        <ion-row>
            <!-- <ion-col col-6>
                <button ion-button tappable (click)="forgotPassword()" style="margin-left: auto; margin-right: auto;background-color: transparent;border: none;box-shadow: none;color:gray;text-transform: capitalize;font-weight: normal">{{ 'M_SIGNIN.FORGOTPASSWORD' | translate }}</button>
            </ion-col> -->
            <button ion-button (click)="forgotPassword()" style="background-color: transparent; color:gray;box-shadow: none;margin-left: auto; margin-right: auto">{{ 'M_SIGNIN.FORGOTPASSWORD' | translate }}</button>
            <!-- <ion-col col-6 text-right>
                <button ion-button tappable (click)="register()" clear color="light">{{ 'M_MENU.SIGNUP' | translate }}</button>
            </ion-col> -->
        </ion-row>
    </ion-grid>
    <!--</ion-scroll>-->
</ion-content>