<ion-header>
    <app-nav-header [pageName]="'Assignment'"></app-nav-header>
</ion-header>
<ion-content>
    <ion-list padding>

        <ion-item class="no-padding mb-1-5">
            <ion-label style="color:#999">Topic</ion-label>
            <ion-input [(ngModel)]="assign.topicDesc" type="text"></ion-input>
        </ion-item>

        <ion-item class="no-padding mb-1-5">
            <ion-label style="color:#999">Detail</ion-label>
            <ion-input [(ngModel)]="assign.assignDesc" type="text"></ion-input>
        </ion-item>

        <ion-item class="no-padding mb-1-5">
            <ion-label style="color:#999">Attach File</ion-label>
            <ion-input type="text"></ion-input>
            <ion-icon color="color-gray" name="ios-attach-outline" item-right></ion-icon>
        </ion-item>
        <ion-row>
            <ion-col *ngFor="let file of listFiles;let fidx = index">
                <button col-4 class="wrapper-file" ion-button outline icon-end>
                    <div>{{file?.documentName}}<ion-icon style="font-size:1.5em;position:absolute;right:.5em" (click)="removeFile(fidx,file);" name="close"></ion-icon></div>
                </button>
            </ion-col>
        </ion-row>

        <ion-item class="no-padding mb-1-5">
            <ion-label style="color:#999">Deadline</ion-label>
            <ion-datetime displayFormat="MMM D, YYYY hh:mm a" [(ngModel)]="assign.targetDateTime"></ion-datetime>
            <!-- <ion-datetime-be item-content  [(ngModel)]="beDate" required displayFormat="MMM D, YYYY hh:mm a"></ion-datetime-be> -->
            <ion-icon color="color-gray" name="ios-calendar-outline" item-right></ion-icon>
        </ion-item>

        <ion-item (click)="goToGoogleMap()" class="no-padding mb-1-5">
            <ion-label style="color:#999">Place</ion-label>
            <ion-input (ionFocus)="goToGoogleMap()" [(ngModel)]="assign.placeDesc" type="text"></ion-input>
            <ion-icon color="color-gray" name="ios-pin-outline" item-right></ion-icon>
        </ion-item>

        <ion-item class="no-padding mb-1-5">
            <ion-label style="color:#999">Assign To</ion-label>
            <ion-input (keyup)='inputSearch.next($event.target.value)' [(ngModel)]="assign.assignTo" type="text"></ion-input>
            <ion-icon color="color-gray" name="ios-search-outline" item-right></ion-icon>
        </ion-item>

        <ion-list style="padding-right:10px;padding-left:10px">
            <ion-item *ngFor="let employee of listEmployee">
                <ion-label>{{employee.name}} {{employee.surname}}</ion-label>
                <ion-icon (click)="selectEmployee(employee)" color="color-gray" name="md-arrow-dropright" item-right></ion-icon>
            </ion-item>
        </ion-list>

        <ion-row>
            <ion-col style="padding:0 5px 0 5px" col-2 *ngFor="let code of trackEmployee;let index = index">
                <div class="wrapper-employee-icon" (click)="removeTrack(index,code)">
                    <ion-icon name="close"></ion-icon>
                </div>
                <!-- <div class="employee-list"> -->
                <img class="img-avatar margin-auto wrapper-employee employee-list" [src]="code | loadImg" />
                <!-- </div> -->
            </ion-col>
        </ion-row>

        <button (click)="editAssignment()" color="light-blue" class="btn-send" ion-button block>Send</button>

    </ion-list>

</ion-content>