<ion-header>
    <app-nav-header [buttonCfg]="buttonCfg" [pageName]="'M_MYPROFILE.PERSONALCONDITION'|hcmtranslate:'Personal Condition'"></app-nav-header>
</ion-header>

<ion-content no-padding>
    <div *ngIf="isLoading" style="width: 100%; height: 75%; position: absolute; margin: auto auto; text-align: center;">
        <ion-spinner [@peekAnimation] style="top: 30%; width: 100%; height: 22.5%;"></ion-spinner>
    </div>
    <ion-card [@peekAnimation] ava-empty-card *ngIf="!isLoading && ((condition) == '') " text-center margin-horizontal padding-vertical>
        <img src="assets/img/svg/emptydata.svg">
        <p class="ava-empty-label" translate>M_LEAVEPAGE.NODATA</p>
    </ion-card>
    <ion-grid class="bgform" *ngIf="!isLoading && ((condition||[]) != '')">
        <ion-row *ngFor="let item of (condition||[])" >
            <ion-col>
                <h3> {{item?.conditionNoDesc}} </h3>
                <p> {{ item?.effectiveDate | amLocale:'en' | amDateFormat: 'DD/MM/YYYY' }} - {{ item?.endDate | amLocale:'en' | amDateFormat: 'DD/MM/YYYY'}} </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>