menu-page {
    div.bg-workforce {
        width: 100%;
        height: 100%;
        p,
        span {
            font-family: 'RobotoRegular', 'Prompt';
        }
        img {
            width: 75%;
        }
    }
}