<ion-content no-padding>
    <div class="modal-nav">
        <button ion-button icon-only transparent no-box no-lines close-modal-view [@peekAnimation] *ngIf="!showAddExpenseItem">
            <ion-icon name="ios-close-outline" style="color: black;"></ion-icon>
        </button>
    </div>
    <ion-grid no-padding>
        <ion-row class="header-label" no-padding [@peekAnimation] *ngIf="!showAddExpenseItem">
            <ion-col col-12 no-padding text-center>
                <h3>{{expenseLang?.expense || 'Expense'}}</h3>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col col-12 no-padding>
                <ion-grid class="input-form">
                    <ion-row no-padding [@peekAnimation] *ngIf="!showAddExpenseItem">
                        <ion-col no-padding col-12>
                            <ion-item no-box no-padding id="projectName">
                                <ion-label floating floated required>{{ expenseLang?.projectName || 'Project Name' }}</ion-label>
                                <ion-select #projectName [(ngModel)]="expenseData.projectId" interface="popover" style="max-width: 100%;width: 100%;padding-left:8px;">
                                    <ion-option *ngFor="let projItm of (projectLists||[])" [value]="projItm.projectCode">{{projItm?.projectName}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row no-padding [@peekAnimation] *ngIf="!showAddExpenseItem">
                        <ion-col no-padding col-12>
                            <ion-item no-box no-padding>
                                <ion-label floating floated>{{ expenseLang?.expenseDetail || 'Expense detail' }}</ion-label>
                                <!-- <ion-input type="text" [(ngModel)]="expenseData.reason"></ion-input> -->
                                <ion-textarea fz-elastic [(ngModel)]="expenseData.reason" style="color:black;padding:0;"></ion-textarea>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row no-padding [@peekAnimation] *ngIf="!showAddExpenseItem">
                        <ion-col no-padding col-12>
                            <ion-item no-box no-padding (click)="addExpenseItem && addExpenseItem()" id="expenseItem">
                                <!-- <ion-item no-lines no-box no-padding (click)="goAddExpenseItem && goAddExpenseItem()"> -->
                                <ion-label floating floated required>{{ expenseLang?.expenseItem || 'Expense Items' }}</ion-label>
                                <ion-icon item-end name="ios-add" style="margin-top: 1em"></ion-icon>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- <ion-slides #expenseItemSlides no-padding pager [@peekAnimation] [hidden]="!showAddExpenseItem"> -->
                    <ion-slides #expenseItemSlides no-padding pager [@peekAnimation] *ngIf="showAddExpenseItem">
                        <!-- <ion-slide *ngFor="let expItmObjt of (expenseData.expenseItemList||[]);let expItmIdx = index;"> -->
                        <ion-slide *ngFor="let expItmObjt of (_tmpExpenseItemList);let expItmIdx = index;">
                            <ion-row class="header-label" no-padding>
                                <ion-col no-padding text-left>
                                    <h3>Expense Item {{ ((expItmIdx||0)+1) }}</h3>
                                </ion-col>
                                <ion-col col-2>
                                    <button ion-button icon-only transparent no-box style="float: right;" (click)="addExpenseItemMore && addExpenseItemMore(attIdx)">
                                        <ion-icon class="add-circle" name="ios-add-circle-outline"></ion-icon>
                                    </button>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding>
                                <ion-col no-padding>
                                    <ion-row no-padding>
                                        <ion-col no-padding col-12>
                                            <ion-item no-box no-padding id="expenseType{{expItmIdx}}">
                                                <ion-label floating floated required>{{ expenseLang?.expenseType || 'Expense type'}}</ion-label>
                                                <ion-select #expenseType [(ngModel)]="expItmObjt.expenseTypeCode" interface="popover" style="max-width: 100%;width: 100%;padding-left:8px;">
                                                    <ion-option *ngFor="let expType of (expenseTypeLists||[])" [value]="expType.expenseCode" style="text-transform: capitalize;">{{expType?.expenseName}}</ion-option>
                                                </ion-select>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row no-padding>
                                        <ion-col no-padding col-12>
                                            <ion-item no-box no-padding>
                                                <ion-label floating floated>{{ expenseLang?.expenseDetail || 'Expense detail' }}</ion-label>
                                                <ion-textarea fz-elastic [(ngModel)]="expItmObjt.reason" style="color:black;padding:0;"></ion-textarea>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row no-padding>
                                        <ion-col no-padding col-12>
                                            <ion-item id="expenseWhen{{expItmIdx}}" no-box no-padding (click)="showDateTimePicker && showDateTimePicker(expItmIdx,'invoiceDate','date')">
                                                <ion-label floating floated required>{{ expenseLang?.when || 'When'}}</ion-label>
                                                <ion-input readonly [value]="expItmObjt?.invoiceDate | amDateFormat:'MMM D YYYY'" type="text"></ion-input>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row no-padding>
                                        <ion-col no-padding col-12>
                                            <ion-item no-box no-padding id="expenseAmount{{expItmIdx}}">
                                                <ion-label floating floated required>{{ expenseLang?.amount ||'Amont' }}</ion-label>
                                                <ion-input type="number" number-format="3.2" [(ngModel)]="expItmObjt.amount"></ion-input>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row class="attach-file-label" no-padding>
                                        <ion-col no-padding col-12>
                                            <ion-item no-box no-padding (click)="attachFile && attachFile(expItmIdx)" style="height: 4.5em;">
                                                <ion-label floating floated>{{ expenseLang?.attachFile || 'Attach file' }}</ion-label>
                                                <ion-icon item-end name="ios-attach-outline"></ion-icon>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <input style="display: none;" type="file" accept="*" capture="camera" id="attachmentsInputId" #attachmentsInputId multiple (change)="getAttachments(expItmIdx,expItmObjt)">
                                    <ion-row class="attach-file" [@peekAnimation] no-padding *ngIf="expItmObjt.files && (expItmObjt.files||[]).length > 0">
                                        <ion-col no-padding col-12>
                                            <ion-item no-lines no-box *ngFor="let fileItm of (expItmObjt.files||[]);let idx = index" [@peekAnimation]>
                                                <ion-label>
                                                    <img *ngIf="isFileType(fileItm, 1)" attach-icon src="./assets/img/svg/doc.svg">
                                                    <img *ngIf="isFileType(fileItm, 2)" attach-icon src="./assets/img/svg/pdf.svg">
                                                    <img *ngIf="isFileType(fileItm, 3)" attach-icon src="./assets/img/svg/pic.svg">
                                                    <img *ngIf="!(isFileType(fileItm, 1)||isFileType(fileItm, 2)||isFileType(fileItm, 3))" attach-icon src="./assets/img/svg/otherfile.svg"> {{ fileItm?.name || fileItm?.fileName }}
                                                </ion-label>
                                                <ion-icon item-end (click)="removeItemAttachFile && removeItemAttachFile(fileItm, expItmIdx, idx)" name="ios-close-outline"></ion-icon>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-slide>
                    </ion-slides>
                    <ion-row class="button-row" [@peekAnimation] *ngIf="showAddExpenseItem">
                        <ion-col col-6>
                            <button class="bg-workforce btn-workforce btn-flat action-btn" ion-button small full block (click)="cancelAddExpenseItemType && cancelAddExpenseItemType(_tmpExpenseItemList);">{{ expenseCreatePage?.cancel || 'Cancel' }}</button>
                        </ion-col>
                        <ion-col col-6>
                            <!-- <button class="bg-workforce action-btn" ion-button small full block (click)="saveAddExpenseItemType && saveAddExpenseItemType(_tmpExpenseItemList);">{{ expenseCreatePage?.saveExpenseItem || 'Save Expense Item' }}</button> -->
                            <button class="bg-workforce btn-workforce btn-flat action-btn" ion-button small full block (click)="checkItem(_tmpExpenseItemList);">{{ expenseCreatePage?.saveExpenseItem || 'Save Expense Item' }}</button>
                        </ion-col>
                    </ion-row>


                    <ion-row no-padding [@peekAnimation] *ngIf="!showAddExpenseItem">
                        <ion-col no-padding col-12>
                            <div class="detail-type">
                                <ion-grid class="detail-type" no-padding>
                                    <ion-row [@peekAnimation] no-padding *ngFor="let expTypeItm of (expenseData.expenseItemList||[]);let attIdx = index;">
                                        <ion-col col-1 text-center>
                                            <!-- <div text-center> -->
                                            <p style="margin-top: 1em; font-size: 14px;">{{attIdx+1}}.</p>
                                            <!-- </div> -->
                                        </ion-col>
                                        <ion-col col-2 no-padding class="icon-expense">
                                            <ion-avatar item-left>
                                                <img class="image-item-type" src="./assets/img/transparents.png" [style.background-image]="'url(' + getImageType(expTypeItm.expenseTypeCode) + ')'">
                                            </ion-avatar>
                                        </ion-col>
                                        <ion-col col-9 no-padding (click)="goEditExpenseItem && goEditExpenseItem(expTypeItm, attIdx)">
                                            <ion-grid no-padding style="padding-left: .5em;">
                                                <ion-row no-padding>
                                                    <ion-col no-padding col-7>
                                                        <p>{{ getExpenseTypeName(expTypeItm?.expenseTypeCode) }}</p>
                                                    </ion-col>
                                                    <ion-col no-padding col-5>
                                                        <h2 baht-front no-space>{{ (expTypeItm?.amount || 0) | number:'1.0':'th' }}</h2>
                                                    </ion-col>
                                                </ion-row>
                                                <ion-row class="icon-action" no-padding>
                                                    <ion-col class="attach" no-padding col-7>
                                                        <span>{{ expTypeItm?.invoiceDate | amDateFormat:'MMM D YYYY' }}</span>
                                                        <div *ngIf="expTypeItm.files && expTypeItm.files.length > 0">
                                                            <ion-icon class="attach" name="ios-attach"></ion-icon>
                                                            <span class="attach-amt">({{ expTypeItm?.files?.length }})</span>
                                                        </div>
                                                    </ion-col>
                                                    <ion-col class="more" no-padding col-5>
                                                        <button ion-button icon-only transparent no-box style="float: right;" (click)="removeExpenseItm && removeExpenseItm(attIdx)">
                                                            <ion-icon class="more" name="ios-trash-outline"></ion-icon>
                                                        </button>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-grid>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row no-padding [@peekAnimation] *ngIf="!showAddExpenseItem">
                        <ion-col no-padding col-12>
                            <ion-item no-box no-padding>
                                <ion-label floating floated>{{ expenseLang?.totalAmount || 'Total amount' }}</ion-label>
                                <ion-label>
                                    <h2 baht-front no-space style="padding-right: 1em">{{ (expenseData?.totalAmount || 0) | number:'1.0':'th'}}</h2>
                                </ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row class="button-row" no-padding [@peekAnimation] *ngIf="!showAddExpenseItem">
                        <ion-col col-12>
                            <!-- <button class="bg-workforce btn-workforce btn-flat" ion-button block full (click)="createExpense && createExpense()"> -->
                            <button *ngIf="!expenseData.status" class="bg-workforce btn-workforce btn-flat" ion-button block full (click)="check && check()">
                                {{ expenseLang?.createExpense || 'Create Expense' }}
                            </button>
                            <button *ngIf="expenseData.status != null" class="bg-workforce btn-workforce btn-flat" ion-button block full (click)="saveModifyExpense && saveModifyExpense()">
                                {{ expenseLang?.updateExpense || 'Update Expense' }}
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>